body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 8px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button {
    display: inline-block; /* Affiche les boutons en ligne côte à côte */
    width: auto; /* Largeur automatique pour s'ajuster au contenu */
    padding: 10px; /* Ajoute un espace intérieur de 10 pixels aux boutons */
    border: none; /* Supprime la bordure par défaut des boutons */
    background-color: #007bff; /* Couleur de fond du bouton Envoyer */
    color: #fff; /* Couleur du texte du bouton Envoyer */
    border-radius: 3px; /* Arrondit les coins des boutons */
    cursor: pointer; /* Curseur en forme de main au survol */
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease; /* Transition en douceur des propriétés */
}

button:hover {
    background-color: #0056b3; /* Nouvelle couleur de fond au survol */
}

input:invalid,
textarea:invalid {
    border-color: #dc3545;
}

input:invalid:focus,
textarea:invalid:focus {
    box-shadow: 0 0 5px #83434a;
}

/* Style spécifique pour le bouton Réinitialiser */
button[type="reset"] {
    background-color: #ce1a1a; /* Couleur de fond du bouton Réinitialiser */
    color: #ededed; /* Couleur du texte du bouton Réinitialiser */
    margin-left: 10px; /* Marge à gauche pour séparer les boutons */
}
